
*.tif
*.prj
*.cpg
*.shp
*.shx
*.dbf
*.qpj
*.xml
*.csv
.ipynb_checkpoints/csv_file_preparation_bulk_code-checkpoint.ipynb
.ipynb_checkpoints/csv_file_preparation_stepBystep_code-checkpoint.ipynb
.ipynb_checkpoints/funcs-checkpoint.ipynb
